In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("data/train.csv")

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   diagnosis  98 non-null     float64
 1   ptdobyy    98 non-null     float64
 2   ptgender   98 non-null     float64
 3   dti_link   98 non-null     object
 4   mri_link   98 non-null     object
dtypes: float64(3), object(2)
memory usage: 4.0+ KB

In [40]:
df.head()

,diagnosis,ptdobyy,ptgender,dti_link,mri_link
0,1.0,1936.0,2.0,data/DTI/002_S_1280/Axial_DTI_FA/2017-03-13_14...,data/MRI/002_S_1280/Accelerated_Sagittal_MPRAG...
1,1.0,1936.0,2.0,data/DTI/002_S_1280/Axial_DTI_FA/2017-03-13_14...,data/MRI/002_S_1280/Accelerated_Sagittal_MPRAG...
2,1.0,1944.0,1.0,data/DTI/002_S_4799/Axial_DTI_FA/2017-05-22_14...,data/MRI/002_S_4799/Accelerated_Sagittal_MPRAG...
3,1.0,1949.0,1.0,data/DTI/002_S_6009/Axial_DTI_FA/2017-04-17_11...,data/MRI/002_S_6009/Accelerated_Sagittal_MPRAG...
4,1.0,1952.0,2.0,data/DTI/002_S_6030/Axial_DTI_FA/2017-06-15_14...,data/MRI/002_S_6030/Accelerated_Sagittal_MPRAG...

In [41]:
df.diagnosis.value_counts()

diagnosis
1.0    66
2.0    23
3.0     9
Name: count, dtype: int64

In [42]:
df1 = pd.read_csv("data/train_augmented.csv")
df1.head()

,diagnosis,ptdobyy,ptgender,dti_link,mri_link
0,2.0,1949.0,1.0,data/DTI/002_S_1155/Axial_DTI_FA/2017-04-24_13...,data/MRI/002_S_1155/Accelerated_Sagittal_MPRAG...
1,2.0,1949.0,1.0,data/DTI/002_S_1155/Axial_DTI_FA/2017-04-24_13...,data/MRI/002_S_1155/Accelerated_Sagittal_MPRAG...
2,2.0,1952.0,1.0,data/DTI/016_S_6771/Axial_DTI_FA/2019-07-17_15...,data/MRI/016_S_6771/Accelerated_Sagittal_MPRAG...
3,2.0,1952.0,1.0,data/DTI/016_S_6771/Axial_DTI_FA/2019-07-17_15...,data/MRI/016_S_6771/Accelerated_Sagittal_MPRAG...
4,2.0,1952.0,1.0,data/DTI/016_S_6771/Axial_DTI_FA/2019-07-17_15...,data/MRI/016_S_6771/Accelerated_Sagittal_MPRAG...

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   diagnosis  36 non-null     float64
 1   ptdobyy    36 non-null     float64
 2   ptgender   36 non-null     float64
 3   dti_link   36 non-null     object
 4   mri_link   36 non-null     object
dtypes: float64(3), object(2)
memory usage: 1.5+ KB

In [44]:
df1.diagnosis.value_counts()

diagnosis
2.0    19
3.0    17
Name: count, dtype: int64

In [45]:
df_merged = pd.concat([df, df1], ignore_index=True)

In [46]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   diagnosis  134 non-null    float64
 1   ptdobyy    134 non-null    float64
 2   ptgender   134 non-null    float64
 3   dti_link   134 non-null    object
 4   mri_link   134 non-null    object
dtypes: float64(3), object(2)
memory usage: 5.4+ KB

In [47]:
df_merged.diagnosis.value_counts()

diagnosis
1.0    66
2.0    42
3.0    26
Name: count, dtype: int64

In [48]:
# save
df_merged.to_csv("data/train.csv", index=False)