In [8]:
import os
import pandas as pd

In [9]:
df = pd.read_csv('data\c4_cognitive_score_dti.csv')
df.head()

,subject_id,VISCODE,VISCODE2,EXAMDATE,DIAGNOSIS,image_id,dti_visit,dti_date,dti_description,image_type,days_between_exams_and_dti_scan
0,002_S_0413,init,m132,2017-06-15,1.0,863065,init,2017-06-21,axial dti_fa,Original,6
1,002_S_1155,init,m126,2017-04-20,2.0,843518,init,2017-04-24,axial dti_fa,Original,4
2,002_S_1261,init,m120,2017-03-14,2.0,831090,init,2017-03-15,axial dti_ap_phase_fa,Original,1
3,002_S_1280,init,m120,2017-03-02,1.0,829305,init,2017-03-13,axial dti_fa,Original,11
4,002_S_1280,init,m120,2017-03-02,1.0,829309,init,2017-03-13,axial dti(phaseap)_fa,Original,11

In [10]:
df['dti_description'].value_counts()

dti_description
axial dti_fa                        245
axial mb dti_fa                      16
axial mb dti_colfa                   13
axial dti phase direction p>a_fa      7
axial mb dti phase_nofatsata          7
axial dti repeat_fa                   2
axial dti_ap_phase_fa                 1
axial dti(phaseap)_fa                 1
ep2d_dki1_fa                          1
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   subject_id                       293 non-null    object
 1   VISCODE                          293 non-null    object
 2   VISCODE2                         293 non-null    object
 3   EXAMDATE                         293 non-null    object
 4   DIAGNOSIS                        293 non-null    float64
 5   image_id                         293 non-null    int64
 6   dti_visit                        293 non-null    object
 7   dti_date                         293 non-null    object
 8   dti_description                  293 non-null    object
 9   image_type                       293 non-null    object
 10  days_between_exams_and_dti_scan  293 non-null    int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.3+ KB

In [12]:
df10 = pd.read_csv('data\c4_demographics.csv')

In [13]:
df10.head()

         PTID  PTGENDER  PTDOBYY  PTEDUCAT
0  002_S_0413       2.0   1929.0      16.0
1  002_S_0413       2.0   1929.0      18.0
2  002_S_0413       2.0   1929.0      16.0
3  002_S_1155       1.0   1949.0      20.0
4  002_S_1155       1.0   1949.0      20.0

In [14]:
df1 = df10.drop_duplicates(keep='first')

In [15]:
PTGENDER = {}
for index, row in df10.iterrows():
    # lấy giá trị của cột subject_id
    subject_id = row['PTID']
    PTGENDER[subject_id] = row['PTGENDER']
print(PTGENDER)

{'002_S_0413': 2.0, '002_S_1155': 1.0, '002_S_1261': 2.0, '002_S_1280': 2.0, '002_S_4225': 1.0, '002_S_4473': 1.0, '002_S_4654': 2.0, '002_S_4799': 1.0, '002_S_5178': 1.0, '002_S_6007': 2.0, '002_S_6009': 1.0, '002_S_6030': 2.0, '003_S_4288': 2.0, '012_S_4094': 2.0, '012_S_4643': 2.0, '012_S_6073': 1.0, '012_S_6760': 1.0, '016_S_4902': 2.0, '016_S_4951': 2.0, '016_S_4952': 2.0, '016_S_5057': 1.0, '016_S_6381': 1.0, '016_S_6708': 1.0, '016_S_6771': 1.0, '016_S_6773': 2.0, '016_S_6789': 2.0, '016_S_6790': 1.0, '016_S_6800': 2.0, '016_S_6802': 2.0, '016_S_6809': 1.0, '016_S_6816': 2.0, '016_S_6834': 2.0, '016_S_6836': 2.0, '016_S_6839': 2.0, '016_S_6853': 2.0, '016_S_6892': 2.0, '016_S_6904': 1.0, '016_S_6926': 2.0, '016_S_6931': 1.0, '016_S_6934': 1.0, '016_S_6939': 1.0, '016_S_6941': 1.0, '016_S_6943': 1.0, '016_S_6949': 2.0, '016_S_6971': 1.0, '016_S_7002': 1.0, '016_S_7039': 2.0, '022_S_2263': 1.0, '022_S_5004': 1.0, '023_S_4115': 1.0, '023_S_4164': 1.0, '023_S_4448': 2.0, '023_S_6334': 1.0, '023_S_6346': 1.0, '023_S_6369': 1.0, '023_S_6374': 2.0, '023_S_6399': 2.0, '023_S_6400': 2.0, '023_S_6535': 1.0, '023_S_6547': 2.0, '023_S_6702': 2.0, '024_S_2239': 2.0, '024_S_4084': 2.0, '024_S_4674': 1.0, '024_S_5290': 2.0, '024_S_6005': 2.0, '024_S_6033': 2.0, '024_S_6184': 2.0, '024_S_6202': 2.0, '024_S_6385': 2.0, '036_S_4389': 1.0, '036_S_4430': 1.0, '036_S_4538': 2.0, '036_S_4715': 2.0, '036_S_6088': 2.0, '036_S_6099': 1.0, '036_S_6134': 2.0, '036_S_6179': 1.0, '036_S_6189': 2.0, '041_S_0679': 1.0, '041_S_1418': 1.0, '041_S_4037': 1.0, '041_S_4051': 1.0, '041_S_4143': 2.0, '041_S_4200': 2.0, '041_S_4271': 1.0, '041_S_4427': 1.0, '041_S_4513': 1.0, '041_S_4874': 2.0, '041_S_4876': 1.0, '041_S_5078': 2.0, '041_S_5097': 1.0, '041_S_5100': 1.0, '041_S_5141': 1.0, '041_S_5253': 1.0, '041_S_6136': 1.0, '041_S_6159': 1.0, '041_S_6192': 2.0, '041_S_6226': 2.0, '041_S_6292': 1.0, '041_S_6314': 1.0, '041_S_6354': 2.0, '041_S_6401': 1.0, '041_S_6731': 2.0, '041_S_6785': 2.0, '041_S_6786': 2.0, '041_S_6801': 2.0, '053_S_4578': 2.0, '053_S_4813': 1.0, '053_S_5296': 1.0, '053_S_6861': 1.0, '053_S_7086': 1.0, '053_S_7109': 2.0, '068_S_4340': 2.0, '094_S_2201': 2.0, '094_S_2238': 1.0, '094_S_4649': 1.0, '094_S_6250': 2.0, '094_S_6269': 2.0, '094_S_6275': 2.0, '094_S_6278': 2.0, '094_S_6417': 1.0, '094_S_6419': 1.0, '094_S_6440': 2.0, '094_S_6468': 1.0, '094_S_6736': 1.0, '114_S_6113': 1.0, '114_S_6347': 1.0, '114_S_6429': 2.0, '114_S_6462': 1.0, '114_S_6524': 2.0, '114_S_6597': 2.0, '114_S_6917': 2.0, '116_S_6133': 2.0, '137_S_4351': 2.0, '137_S_4482': 2.0, '137_S_4520': 1.0, '137_S_4536': 2.0, '137_S_4631': 1.0, '137_S_4862': 1.0, '137_S_6557': 1.0, '137_S_6576': 2.0, '137_S_6654': 1.0, '137_S_6659': 2.0, '137_S_6685': 1.0, '137_S_6693': 1.0, '137_S_6794': 2.0, '137_S_6812': 2.0, '137_S_6826': 1.0, '137_S_6880': 1.0, '137_S_6883': 2.0, '137_S_6906': 2.0, '137_S_6919': 1.0, '153_S_6755': 1.0, '941_S_4036': 1.0, '941_S_4100': 2.0, '941_S_4187': 1.0, '941_S_4292': 1.0, '941_S_4365': 1.0, '941_S_5193': 2.0, '941_S_6017': 1.0, '941_S_6044': 2.0, '941_S_6052': 2.0, '941_S_6054': 2.0, '941_S_6058': 2.0, '941_S_6068': 1.0, '941_S_6080': 2.0, '941_S_6094': 2.0}

In [16]:
PTDOBYY = {}
for index, row in df10.iterrows():
    # lấy giá trị của cột subject_id
    subject_id = row['PTID']
    PTDOBYY[subject_id] = row['PTDOBYY']
print(PTDOBYY)

{'002_S_0413': 1929.0, '002_S_1155': 1949.0, '002_S_1261': 1935.0, '002_S_1280': 1936.0, '002_S_4225': 1941.0, '002_S_4473': 1937.0, '002_S_4654': 1936.0, '002_S_4799': 1944.0, '002_S_5178': 1944.0, '002_S_6007': 1940.0, '002_S_6009': 1949.0, '002_S_6030': 1952.0, '003_S_4288': 1939.0, '012_S_4094': 1951.0, '012_S_4643': 1947.0, '012_S_6073': 1954.0, '012_S_6760': 1948.0, '016_S_4902': 1937.0, '016_S_4951': 1940.0, '016_S_4952': 1943.0, '016_S_5057': 1937.0, '016_S_6381': 1945.0, '016_S_6708': 1963.0, '016_S_6771': 1952.0, '016_S_6773': 1964.0, '016_S_6789': 1940.0, '016_S_6790': 1941.0, '016_S_6800': 1932.0, '016_S_6802': 1956.0, '016_S_6809': 1943.0, '016_S_6816': 1944.0, '016_S_6834': 1937.0, '016_S_6836': 1944.0, '016_S_6839': 1949.0, '016_S_6853': 1953.0, '016_S_6892': 1955.0, '016_S_6904': 1954.0, '016_S_6926': 1942.0, '016_S_6931': 1948.0, '016_S_6934': 1954.0, '016_S_6939': 1947.0, '016_S_6941': 1959.0, '016_S_6943': 1946.0, '016_S_6949': 1951.0, '016_S_6971': 1948.0, '016_S_7002': 1960.0, '016_S_7039': 1960.0, '022_S_2263': 1948.0, '022_S_5004': 1948.0, '023_S_4115': 1944.0, '023_S_4164': 1938.0, '023_S_4448': 1948.0, '023_S_6334': 1945.0, '023_S_6346': 1951.0, '023_S_6369': 1941.0, '023_S_6374': 1954.0, '023_S_6399': 1954.0, '023_S_6400': 1954.0, '023_S_6535': 1940.0, '023_S_6547': 1951.0, '023_S_6702': 1954.0, '024_S_2239': 1937.0, '024_S_4084': 1943.0, '024_S_4674': 1934.0, '024_S_5290': 1946.0, '024_S_6005': 1949.0, '024_S_6033': 1959.0, '024_S_6184': 1947.0, '024_S_6202': 1948.0, '024_S_6385': 1951.0, '036_S_4389': 1930.0, '036_S_4430': 1931.0, '036_S_4538': 1933.0, '036_S_4715': 1955.0, '036_S_6088': 1948.0, '036_S_6099': 1935.0, '036_S_6134': 1955.0, '036_S_6179': 1938.0, '036_S_6189': 1948.0, '041_S_0679': 1943.0, '041_S_1418': 1926.0, '041_S_4037': 1935.0, '041_S_4051': 1940.0, '041_S_4143': 1947.0, '041_S_4200': 1941.0, '041_S_4271': 1949.0, '041_S_4427': 1940.0, '041_S_4513': 1951.0, '041_S_4874': 1954.0, '041_S_4876': 1938.0, '041_S_5078': 1945.0, '041_S_5097': 1945.0, '041_S_5100': 1941.0, '041_S_5141': 1936.0, '041_S_5253': 1945.0, '041_S_6136': 1956.0, '041_S_6159': 1941.0, '041_S_6192': 1934.0, '041_S_6226': 1952.0, '041_S_6292': 1941.0, '041_S_6314': 1944.0, '041_S_6354': 1947.0, '041_S_6401': 1942.0, '041_S_6731': 1952.0, '041_S_6785': 1954.0, '041_S_6786': 1932.0, '041_S_6801': 1958.0, '053_S_4578': 1942.0, '053_S_4813': 1944.0, '053_S_5296': 1944.0, '053_S_6861': 1953.0, '053_S_7086': 1961.0, '053_S_7109': 1946.0, '068_S_4340': 1945.0, '094_S_2201': 1947.0, '094_S_2238': 1942.0, '094_S_4649': 1946.0, '094_S_6250': 1946.0, '094_S_6269': 1947.0, '094_S_6275': 1959.0, '094_S_6278': 1937.0, '094_S_6417': 1940.0, '094_S_6419': 1942.0, '094_S_6440': 1950.0, '094_S_6468': 1949.0, '094_S_6736': 1937.0, '114_S_6113': 1941.0, '114_S_6347': 1932.0, '114_S_6429': 1949.0, '114_S_6462': 1948.0, '114_S_6524': 1952.0, '114_S_6597': 1955.0, '114_S_6917': 1956.0, '116_S_6133': 1948.0, '137_S_4351': 1944.0, '137_S_4482': 1934.0, '137_S_4520': 1944.0, '137_S_4536': 1934.0, '137_S_4631': 1942.0, '137_S_4862': 1936.0, '137_S_6557': 1942.0, '137_S_6576': 1946.0, '137_S_6654': 1946.0, '137_S_6659': 1939.0, '137_S_6685': 1948.0, '137_S_6693': 1944.0, '137_S_6794': 1952.0, '137_S_6812': 1946.0, '137_S_6826': 1951.0, '137_S_6880': 1954.0, '137_S_6883': 1956.0, '137_S_6906': 1965.0, '137_S_6919': 1942.0, '153_S_6755': 1951.0, '941_S_4036': 1937.0, '941_S_4100': 1932.0, '941_S_4187': 1949.0, '941_S_4292': 1940.0, '941_S_4365': 1931.0, '941_S_5193': 1940.0, '941_S_6017': 1940.0, '941_S_6044': 1942.0, '941_S_6052': 1929.0, '941_S_6054': 1938.0, '941_S_6058': 1949.0, '941_S_6068': 1941.0, '941_S_6080': 1940.0, '941_S_6094': 1948.0}

In [17]:
df["PTDOBYY"] = None
df["PTGENDER"] = None

In [18]:
for k, v in PTGENDER.items():
    df.loc[df['subject_id'] == k, 'PTGENDER'] = v
df.head()

,subject_id,VISCODE,VISCODE2,EXAMDATE,DIAGNOSIS,image_id,dti_visit,dti_date,dti_description,image_type,days_between_exams_and_dti_scan,PTDOBYY,PTGENDER
0,002_S_0413,init,m132,2017-06-15,1.0,863065,init,2017-06-21,axial dti_fa,Original,6,None,2.0
1,002_S_1155,init,m126,2017-04-20,2.0,843518,init,2017-04-24,axial dti_fa,Original,4,None,1.0
2,002_S_1261,init,m120,2017-03-14,2.0,831090,init,2017-03-15,axial dti_ap_phase_fa,Original,1,None,2.0
3,002_S_1280,init,m120,2017-03-02,1.0,829305,init,2017-03-13,axial dti_fa,Original,11,None,2.0
4,002_S_1280,init,m120,2017-03-02,1.0,829309,init,2017-03-13,axial dti(phaseap)_fa,Original,11,None,2.0

In [19]:
for k, v in PTDOBYY.items():
    df.loc[df['subject_id'] == k, 'PTDOBYY'] = v
df.head()

,subject_id,VISCODE,VISCODE2,EXAMDATE,DIAGNOSIS,image_id,dti_visit,dti_date,dti_description,image_type,days_between_exams_and_dti_scan,PTDOBYY,PTGENDER
0,002_S_0413,init,m132,2017-06-15,1.0,863065,init,2017-06-21,axial dti_fa,Original,6,1929.0,2.0
1,002_S_1155,init,m126,2017-04-20,2.0,843518,init,2017-04-24,axial dti_fa,Original,4,1949.0,1.0
2,002_S_1261,init,m120,2017-03-14,2.0,831090,init,2017-03-15,axial dti_ap_phase_fa,Original,1,1935.0,2.0
3,002_S_1280,init,m120,2017-03-02,1.0,829305,init,2017-03-13,axial dti_fa,Original,11,1936.0,2.0
4,002_S_1280,init,m120,2017-03-02,1.0,829309,init,2017-03-13,axial dti(phaseap)_fa,Original,11,1936.0,2.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   subject_id                       293 non-null    object
 1   VISCODE                          293 non-null    object
 2   VISCODE2                         293 non-null    object
 3   EXAMDATE                         293 non-null    object
 4   DIAGNOSIS                        293 non-null    float64
 5   image_id                         293 non-null    int64
 6   dti_visit                        293 non-null    object
 7   dti_date                         293 non-null    object
 8   dti_description                  293 non-null    object
 9   image_type                       293 non-null    object
 10  days_between_exams_and_dti_scan  293 non-null    int64
 11  PTDOBYY                          293 non-null    object
 12  PTGENDER                         293 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 29.9+ KB

In [21]:
df.head()

,subject_id,VISCODE,VISCODE2,EXAMDATE,DIAGNOSIS,image_id,dti_visit,dti_date,dti_description,image_type,days_between_exams_and_dti_scan,PTDOBYY,PTGENDER
0,002_S_0413,init,m132,2017-06-15,1.0,863065,init,2017-06-21,axial dti_fa,Original,6,1929.0,2.0
1,002_S_1155,init,m126,2017-04-20,2.0,843518,init,2017-04-24,axial dti_fa,Original,4,1949.0,1.0
2,002_S_1261,init,m120,2017-03-14,2.0,831090,init,2017-03-15,axial dti_ap_phase_fa,Original,1,1935.0,2.0
3,002_S_1280,init,m120,2017-03-02,1.0,829305,init,2017-03-13,axial dti_fa,Original,11,1936.0,2.0
4,002_S_1280,init,m120,2017-03-02,1.0,829309,init,2017-03-13,axial dti(phaseap)_fa,Original,11,1936.0,2.0

In [22]:
df = df[~(df['VISCODE'] == 'sc')]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 0 to 291
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   subject_id                       206 non-null    object
 1   VISCODE                          206 non-null    object
 2   VISCODE2                         206 non-null    object
 3   EXAMDATE                         206 non-null    object
 4   DIAGNOSIS                        206 non-null    float64
 5   image_id                         206 non-null    int64
 6   dti_visit                        206 non-null    object
 7   dti_date                         206 non-null    object
 8   dti_description                  206 non-null    object
 9   image_type                       206 non-null    object
 10  days_between_exams_and_dti_scan  206 non-null    int64
 11  PTDOBYY                          206 non-null    object
 12  PTGENDER                         206 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 22.5+ KB

In [24]:
# df = df[df['days_between_exams_and_dti_scan'] <= 30]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 0 to 291
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   subject_id                       206 non-null    object
 1   VISCODE                          206 non-null    object
 2   VISCODE2                         206 non-null    object
 3   EXAMDATE                         206 non-null    object
 4   DIAGNOSIS                        206 non-null    float64
 5   image_id                         206 non-null    int64
 6   dti_visit                        206 non-null    object
 7   dti_date                         206 non-null    object
 8   dti_description                  206 non-null    object
 9   image_type                       206 non-null    object
 10  days_between_exams_and_dti_scan  206 non-null    int64
 11  PTDOBYY                          206 non-null    object
 12  PTGENDER                         206 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 22.5+ KB

In [26]:
df.image_type.unique()

array(['Original'], dtype=object)

In [27]:
df.dti_visit.unique()

array(['init', 'sc', 'y4', 'y2', 'y1', 'y3', 'y5', 'v31'], dtype=object)

In [28]:
# Xóa các cột thừa gây nhiễu
df = df.drop(columns=['VISCODE', 'VISCODE2', 'EXAMDATE', 'days_between_exams_and_dti_scan', 'image_type', 'dti_visit'])

In [29]:
df = df.drop_duplicates('image_id')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 205 entries, 0 to 291
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subject_id       205 non-null    object
 1   DIAGNOSIS        205 non-null    float64
 2   image_id         205 non-null    int64
 3   dti_date         205 non-null    object
 4   dti_description  205 non-null    object
 5   PTDOBYY          205 non-null    object
 6   PTGENDER         205 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 12.8+ KB

In [31]:
df.count()

subject_id         205
DIAGNOSIS          205
image_id           205
dti_date           205
dti_description    205
PTDOBYY            205
PTGENDER           205
dtype: int64

In [32]:
df.columns

Index(['subject_id', 'DIAGNOSIS', 'image_id', 'dti_date', 'dti_description',
       'PTDOBYY', 'PTGENDER'],
      dtype='object')

In [33]:
df.dti_description.unique()

array(['axial dti_fa', 'axial dti_ap_phase_fa', 'axial dti(phaseap)_fa',
       'axial mb dti_fa', 'axial dti repeat_fa', 'axial mb dti_colfa',
       'axial dti phase direction p>a_fa', 'axial mb dti phase_nofatsata',
       'ep2d_dki1_fa'], dtype=object)

In [34]:
df['dti_description'].value_counts()

dti_description
axial dti_fa                        163
axial mb dti_fa                      15
axial mb dti_colfa                   13
axial dti phase direction p>a_fa      5
axial mb dti phase_nofatsata          5
axial dti_ap_phase_fa                 1
axial dti(phaseap)_fa                 1
axial dti repeat_fa                   1
ep2d_dki1_fa                          1
Name: count, dtype: int64

In [35]:
# danh sách các mẫu dữ liệu chụp lại
df1 = df[df['dti_description'] == 'axial dti repeat_fa']
df1

,subject_id,DIAGNOSIS,image_id,dti_date,dti_description,PTDOBYY,PTGENDER
65,016_S_6934,1.0,1499632,2021-04-23,axial dti repeat_fa,1954.0,1.0

In [36]:
# lấy những ảnh bị lỗi phải chụp lại
df2 = df[(df['subject_id'].isin(df1['subject_id']))]
df2 = df2[df2['dti_description'] == 'axial dti_fa']
df2

,subject_id,DIAGNOSIS,image_id,dti_date,dti_description,PTDOBYY,PTGENDER
66,016_S_6934,1.0,1499639,2021-04-23,axial dti_fa,1954.0,1.0

In [37]:
# lấy những ảnh loại axial dti_fa không bị lỗi
df3 = df[df['dti_description'].isin(['axial dti_fa', 'axial dti repeat_fa'])]
df3 = df3[~df3['image_id'].isin(df2['image_id'])]

In [38]:
df3.count()

subject_id         163
DIAGNOSIS          163
image_id           163
dti_date           163
dti_description    163
PTDOBYY            163
PTGENDER           163
dtype: int64

In [39]:
# Tạo 1 df trống gồm các cột: subject_id, dti_description, dti_time, image_id
dti_df = pd.DataFrame(columns=['subject_id', 'dti_description', 'dti_time', 'image_id'])

In [40]:
data_dir = 'data/DTI' 

for f1 in os.listdir(data_dir):
    if os.path.isdir(os.path.join(data_dir, f1)):
        for f2 in os.listdir(os.path.join(data_dir, f1)):
            if os.path.isdir(os.path.join(data_dir, f1, f2)):
                for f3 in os.listdir(os.path.join(data_dir, f1, f2)):
                    if os.path.isdir(os.path.join(data_dir, f1, f2, f3)):
                        for f4 in os.listdir(os.path.join(data_dir, f1, f2, f3)):
                            if os.path.isdir(os.path.join(data_dir, f1, f2, f3, f4)):
                                dti_df = pd.concat([dti_df, pd.DataFrame({'subject_id': [f1], 'dti_description': [f2], 'dti_time': [f3], 'image_id': [f4]})], ignore_index=True)

In [41]:
dti_df.head()

   subject_id        dti_description               dti_time image_id
0  002_S_0413           Axial_DTI_FA  2017-06-21_13_52_50.0  I863065
1  002_S_1155           Axial_DTI_FA  2017-04-24_13_50_31.0  I843518
2  002_S_1261  Axial_DTI_AP_Phase_FA  2017-03-15_11_52_35.0  I831090
3  002_S_1280           Axial_DTI_FA  2017-03-13_14_12_26.0  I829305
4  002_S_1280           Axial_DTI_FA  2017-03-13_14_19_47.0  I829315

In [42]:
dti_df.count()

subject_id         242
dti_description    242
dti_time           242
image_id           242
dtype: int64

In [43]:
dti_df.dti_description.value_counts()

dti_description
Axial_DTI_FA                        198
Axial_MB_DTI_FA                      15
Axial_MB_DTI_ColFA                   13
Axial_MB_DTI_phase_noFatSatA          7
Axial_DTI_Phase_Direction_P_A_FA      5
Axial_DTI_AP_Phase_FA                 1
Axial_DTI_PhaseAP__FA                 1
Axial_DTI_REPEAT_FA                   1
ep2d_DKI1_FA                          1
Name: count, dtype: int64

In [44]:
df3['image_id'] = 'I' + df3['image_id'].astype(str)

In [45]:
# chỉ lấy các mẫu dữ liệu thực sự tồn tại:

df4 = pd.merge(dti_df, df3, on=['image_id'], how='inner')
df4.head()

,subject_id_x,dti_description_x,dti_time,image_id,subject_id_y,DIAGNOSIS,dti_date,dti_description_y,PTDOBYY,PTGENDER
0,002_S_0413,Axial_DTI_FA,2017-06-21_13_52_50.0,I863065,002_S_0413,1.0,2017-06-21,axial dti_fa,1929.0,2.0
1,002_S_1155,Axial_DTI_FA,2017-04-24_13_50_31.0,I843518,002_S_1155,2.0,2017-04-24,axial dti_fa,1949.0,1.0
2,002_S_1280,Axial_DTI_FA,2017-03-13_14_12_26.0,I829305,002_S_1280,1.0,2017-03-13,axial dti_fa,1936.0,2.0
3,002_S_1280,Axial_DTI_FA,2017-03-13_14_19_47.0,I829315,002_S_1280,1.0,2017-03-13,axial dti_fa,1936.0,2.0
4,002_S_4225,Axial_DTI_FA,2018-11-12_10_38_43.0,I1075145,002_S_4225,3.0,2018-11-12,axial dti_fa,1941.0,1.0

In [46]:
df4.count()

subject_id_x         163
dti_description_x    163
dti_time             163
image_id             163
subject_id_y         163
DIAGNOSIS            163
dti_date             163
dti_description_y    163
PTDOBYY              163
PTGENDER             163
dtype: int64

In [47]:
# đổi tên cột:
df4 = df4.rename(columns={'subject_id_x': 'subject_id'})

In [48]:
df4['dti_link'] = "data" + "\\" + "DTI" + "\\" + df4['subject_id'] + "\\" + df4['dti_description_x'] + "\\"  + df4['dti_time'] + "\\"  + df4['image_id']

In [49]:
# xóa cột thừa:
df4 = df4.drop(columns=['subject_id_y', 'dti_description_y', 'dti_description_x', 'image_id', 'dti_time'])

In [50]:
df4.head()

,subject_id,DIAGNOSIS,dti_date,PTDOBYY,PTGENDER,dti_link
0,002_S_0413,1.0,2017-06-21,1929.0,2.0,data\DTI\002_S_0413\Axial_DTI_FA\2017-06-21_13...
1,002_S_1155,2.0,2017-04-24,1949.0,1.0,data\DTI\002_S_1155\Axial_DTI_FA\2017-04-24_13...
2,002_S_1280,1.0,2017-03-13,1936.0,2.0,data\DTI\002_S_1280\Axial_DTI_FA\2017-03-13_14...
3,002_S_1280,1.0,2017-03-13,1936.0,2.0,data\DTI\002_S_1280\Axial_DTI_FA\2017-03-13_14...
4,002_S_4225,3.0,2018-11-12,1941.0,1.0,data\DTI\002_S_4225\Axial_DTI_FA\2018-11-12_10...

In [51]:
df4.DIAGNOSIS.value_counts()

DIAGNOSIS
1.0    104
2.0     39
3.0     20
Name: count, dtype: int64

In [52]:
df4.count()

subject_id    163
DIAGNOSIS     163
dti_date      163
PTDOBYY       163
PTGENDER      163
dti_link      163
dtype: int64

In [53]:
# lưu lại df1 vào file csv
df4.to_csv('data/dti.csv', index=False)